@use "reset";
@use "variables/global";
@use "themes/light";
@use "themes/dark";
@use "../../shared/assets/fonts.css";

body iframe#react-refresh-overlay {
  display: none !important;
}

body {
  font: var(--font-m);
  min-height: 100vh;
}

.app {
  background: var(--bg-color);
  color: var(--primary-color);

  .content-container {
    display: flex;
    height: 100%;

    .page-wrapper {
      flex-grow: 1;
      padding: var(--base-padding);
    }
  }
}
