.button {
  cursor: pointer;
  display: flex;
  align-items: center;

  &.clear {
    border: none;
    background: none;
    outline: none;
  }

  &.default {
  }

  &.rounded {
    padding: 0 5px;
    border-width: 1px;
    border-radius: var(--base-border-radius);
  }
}
